<% @users.each do |e| %>
    <p>
    UID <%= e.uid %>
    Pass <%= e.pass %>
    Age <%= e.age %>
    <%= link_to "削除", user_path(e), data: { "turbo-method": :delete } %>
    </p>
<% end %>

<%= link_to "新規追加", users_new_path %>